/* === MOBILE FIRST === */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Benne&family=Homemade+Apple&family=Pacifico&family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

    nav {
        background: #333;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    
    a {text-decoration: none;}
    
    nav a:link {
        background: #333;
        padding: 10px 20px;
        color: #fff;
        flex-grow: 1;
        text-align: center;
    }
    
    nav a:visited {
        color :#fff;
    }
    
    nav a:hover {
        color: #333;
        background: #fff;
    }
    
    div a:hover {
        color:dimgray;
    }
    
    a:visited {
        color: black;
    }



body {
    background: #eee;

}


.parent {
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* this allows height to be bigger than 100vh if needed */
    background: #eee;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.art {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 20px;
    background:#1e212d;
    display: flex;
    align-items: center;
}

.art article {
    column-count: 1;
    font-family: 'Benne', serif;
    color:#ffffff;
    padding: 20px;
  
}

p {
    opacity: 0;
    filter: blur(50px);
    animation: slide-in 0.3s 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}

@keyframes slide-in {
    from {opacity:0; top:100px; filter:blur(50px);}
    to {opacity:1; top:0; filter:blur(0px);}
}

.text-focus-in {
    font-family: 'Playfair Display', serif;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-23 14:25:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  

h2 {

    font-family: 'Playfair Display', serif;
    font-size: 3vmin;
    text-transform: capitalize;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3vmin;
    text-transform: capitalize;
    letter-spacing: 1px;
}

figure {
    flex: 1 100%;
    background: lightyellow;
    padding: 20px;
    border: 15px solid #ffffff;
    /* margin: 20px; */
}


img {
    width: 100%;
}

figure:hover {
    box-shadow: 4px 4px 40px #888;
    transform: scale(1.05);


}

figure img {
    width: 100%;
    opacity: 0.6;
}

figure h2 {
    text-align: center;
}

figure img:hover {

    opacity: 100;
    transition: all .3s;
}

img {
    border: 15px solid #faf3e0;
  } 

  /* === FRENCH CUISINE PAGE === */

  .french_header {
    height: 100vh;
    background: url(../images/French3.jpg) fixed no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#french-text {
    font-family: 'Source Serif Pro', serif;
    font-size: 3vmin;
    text-transform:none;
    letter-spacing: 1px;
    text-align:justify;
    padding: 4vmin 20vmin;
    color: black;
}

#french-text {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-23 14:25:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }



/* ===  JAPANESE CUISINE PAGE === */

section#container {
    width:100%;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

video#bgvid {
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1;
}

.Japanese-hgroup h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 10vmax;
    letter-spacing: -.5vmax;
    line-height: 15vmax;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
}

#sushi-vid-text {
    font-family: 'Playfair Display', serif;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-23 14:25:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

h2 {
    font-family: 'Source Serif Pro', serif;;
}

article.text {
    background-color: #1e212d;
    padding:4vmax;
    column-count: 3;
    column-gap: 20px;
}

.text {
    column-count: 1;
    font-family: 'Benne', serif;
    color:#ffffff;
  
}

article h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5vmax;
    text-transform: uppercase;
    color:#b68973;
}

.sushi-history {
    opacity: 100;
    animation:none;
    filter: none;
    color:#ffffff;

}

/* === ITALIAN CUISINE === */

.italian-header {
    height: 70vh;
    background: url(../images/Italian3.jpg) fixed no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#ffffff;
}

.italian-h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6vmin;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.italian-h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3vmin;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#italian-text {
    font-family: 'Benne', serif;
    color: #ffffff;
    opacity: 100;
    animation:none;
    filter: none;
}

video.smvid {
    width:100%;
}


/* === CONTACT PAGE === */

.contact_header {
    height: 100vh;
    background: url(../images/Contact.jpg) fixed no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact-text {
    font-family: 'Source Serif Pro', serif;
    font-size: 3vmin;
    text-transform:none;
    letter-spacing: 1px;
    text-align:center;
    padding: 4vmin 20vmin;
    color: black;
}

.form_parent {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form_parent form {
    width: 100%;
  }
  
  .form_parent form input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
  }

  .form_parent form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
  }

  /* === FOOTER === */


  footer {
    background:black;
    color: #fff;
    padding: 4vmin 8vmin;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
   
}

.bottom {
    opacity: 100;
    animation: none;
    transform: none;
    filter: none;
}

/* === TABLET LAYOUT INHERITS FROM MOBILE 600PX 980PX ===*/

@media only screen and (min-width: 600px) {
    .parent {
        align-content: space-around;
    }
  

    figure {
        flex: 1 40%;
    }

    .art {
        min-height: 40vh;
    }

    .art article {
        column-count: 3;
    }
}

/* === DESKTOP LAYOUT INHERITS FROM MOBILE AND TABLET > 980PX === */
@media only screen and (min-width: 980px) {
    .parent {
        min-height: 70vh;
    }

   
    figure {
        flex: 1 20%;
        margin: 20px;
    }

    .art article {
        column-count: 3;
    }
}

@media only screen and (max-width: 600px) {
    section#container {
        background: url("../images/sushi.jpg") no-repeat center center;
	    background-size: cover;
    }
    video#bgvid  {
        display:none;
    }
    article.text {
        column-count: 1;
    }
    article h1 {
        font-size: 4vmax;
    }
}
